/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@media only screen and (max-width: 480px) and (min-width: 0px) {
#leftText{
      text-align: left !important;
    }
#map {
   padding-right: 150px !important;
   width: 600px !important;
}

 #colbtn{
    margin-top: 20px;
    font-size: 20px !important;
    background-color: #133C7D;
    width: 200px !important;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: -4px;
}

    #h5{
      display: none !important;

    }
    #nav{
      text-align: center;
      float: right;
    }


    #navbtn {
      margin-top: 0px;
      font-size: 15px !important;
      background-color: #133C7D;
      width: 150px;
      padding-left: 0px;
      padding-right: 0px;
      margin-right: 11px;
      color: red;
    }
    .material-icons{
      color: red !important;
      font-size: 40px !important;

    }

    .carousel{
      display: none;
    }
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
#leftText{
      text-align: left !important;
    }
#map {
   padding-right: 200px !important;
   width: 825px !important;
}

 #colbtn{
    margin-top: 20px;
    font-size: 15px !important;
    background-color: #133C7D;
    width: 150px !important;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: -4px;
}

    #h5{
      font-size: 18px !important;
      background-color: #282b30;
      font-family: 'Roboto', sans-serif;
      color: white;
      width: 355px !important;
      text-align: left !important;

    }
    #nav{
      text-align: center;
      float: right;
    }


    #navbtn {
      margin-top: 0px;
      font-size: 15px;
      background-color: #133C7D;
      width: 180px;
      padding-left: 0px;
      padding-right: 0px;
      margin-right: 11px;
      color: red;
    }
    .material-icons{
      color: red !important;
      font-size: 40px !important;

    }

    .carousel{
      display: none;
    }
}

/*@media only screen and (max-width: 768px) and (min-width: 639px) {
#leftText{
      text-align: left !important;
    }
#map {
   padding-right: 175px !important;
   width: 925px !important;
}

 #colbtn{
    margin-top: 20px;
    font-size: 18px !important;
    background-color: #133C7D;
    width: 10px !important;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

    #h5{
      font-size: 18px !important;
      background-color: #282b30;
      font-family: 'Roboto', sans-serif;
      color: white;

      text-align: left !important;
    }
    #nav{
      text-align: center;
      float: right;
    }


    #navbtn {
      font-size: 18px;
      background-color: #133C7D;
      width: 100px;
      color: red;
    }
    .material-icons{
      color: red !important;
      font-size: 40px !important;

    }

    .carousel{
      display: none;
    }
}*/

@media only screen and (max-width: 980px) and (min-width: 769px) {
#leftText{
      text-align: center !important;
    }
#map {
  /* padding-right: 2000px !important;*/
  width: 1450px !important;
  padding-right: 0px;
}


 #colbtn{
    margin-top: 20px;
    font-size: 15px !important;
    background-color: #133C7D;
    width: 250px !important;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;

}

    #h5{
      font-size: 15px;
      background-color: #282b30;
      font-family: 'Roboto', sans-serif;
      color: white !important;
      width: 560px !important;
      text-align: left !important;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 979px) {
#leftText{
      text-align: left !important;
    }
#map {
   padding-right: 200px !important;
   width: 1200px !important;
}

 #colbtn{
    margin-top: 20px;
    font-size: 20px !important;
    background-color: #133C7D;
    width: 225px !important;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-left: 0px;
    padding-right: 10px !important;
    margin-right: 0px;
}

    #h5{
      font-size: 20px;
      background-color: #282b30;
      font-family: 'Roboto', sans-serif;
      color: white;
      width: 700px !important;
      text-align: left !important;
    }
    #nav{
      text-align: center;
      float: right;
    }


    #navbtn {
      margin-top: 0px;
      font-size: 15px;
      background-color: #133C7D;
      width: 200px;
      padding-left: 0px;
      padding-right: 0px;
      margin-right: 11px;
      color: red;
    }
    .material-icons{
      color: red !important;
      font-size: 40px !important;

    }

    .carousel{
      display: none;
    }
}

@media only screen and (max-width: 1280px) and (min-width: 1023px) {
#leftText{
      text-align: left !important;
    }
#map {
   padding-right: 150px !important;
   width: 1400px !important;
}

 #colbtn{
    margin-top: 20px;
    font-size: 20px !important;
    background-color: #133C7D;
    width: 225px !important;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-left: 0px;
    padding-right: 10px !important;
    margin-right: 0px;
}

    #h5{
      font-size: 20px;
      background-color: #282b30;
      font-family: 'Roboto', sans-serif;
      color: white;
      width: 960px;
      text-align: left;
    }
    #nav{
      text-align: center;
      float: right;
    }


    #navbtn {
      margin-top: 0px;
      font-size: 15px;
      background-color: #133C7D;
      width: 200px;
      padding-left: 0px;
      padding-right: 0px;
      margin-right: 11px;
      color: red;
    }
    .material-icons{
      color: red !important;
      font-size: 40px !important;

    }

    .carousel{
      display: none;
    }
}

@media only screen and (max-width: 1680px) and (min-width: 1079px) {

#map {
   padding-right: 225px !important;
   width: 1580px !important;
  }
}


#h5{
      font-size: 30px;
      background-color: #282b30;
      font-family: 'Roboto', sans-serif;
      color: white;
      margin-left: 50px;
      text-align: center;
      }



.right .material-icons{
  font-size: 40px;
  color: red !important;
}

#navIcon{
  color: red;
  font-size: 40px;
  padding-top: 10px;
  margin-top: 10px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: 40px;
  color: red;


}

.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    perspective: 2000px;
    transform-style: preserve-3d;
    transform-origin: 0% 50%;
  }


nav{
  background-color: #282b30;
  font-family: 'Roboto', sans-serif;
  color: white;
}


#formText{
  color: white;
}

 #leftText{
  color: white;
  text-align: center;
 }

#navbtn{
    background-color: #133C7D;
    font-size: 20px;
    color:white;
    height: 50px;
  }
 span{
  display: inline-flex;
 }

#navIcon{
  padding: 0px;
  margin-top: 0px;
}

#colCenter{
  text-align: center;
}


#map {
   padding-right: 500px;
}

body{
  background-color: #181818;
  color: white;
}



.button-collapse {
  color: #26a69a;
}


#backImg1 {
  width: 100%;
  background-size: 100%;
  background-position: 50% 100px !important;
  padding-right:900px;
  opacity: 0.7;
  margin-left: 100px;
  margin-right: 900px;
  text-align:left;
  font-size: 45px;
  color:#133C7D;
  text-shadow:2px 2px 2px #000000;
}

  #colbtn{
    margin-top: 20px;
    font-size: 20px;
    background-color: #133C7D;
    width: 300px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

footer.page-footer {
  margin: 0;
  background-color: #282828;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #000;
  color: #aaa;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 28px;
  width: 100%;
  height: 32px;
  background: #133C7D;
  border: none;
  border-radius: 3px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.right .loginwith {
  display: block;
  margin-bottom: 40px;
  padding: 20px;
  font-size: 28px;
  color: #FFF;
  text-align: center;
}

button.social-signin {
  margin-bottom: 10px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin.facebook {
  background: #32508E;
}

button.social-signin.twitter {
  background: #55ACEE;
}

button.social-signin.google {
  background: #DD4B39;
}

#modal1{
  background-color:black;
  color:white;
}

#modal2{
  background-color:black;
  color:white;
}

#modal3{
  background-color:black;
  color:white;
}

#modal4{
  background-color:black;
  color:white;
}

#modal6{
  background-color:black;
  color:white;
}

#modal_update{
  background-color:black;
  color:white;
}

form{
  margin-left: 20px;
  margin-bottom: 10px;
}


input[type="submit1"] {
  margin: 30px;
  width: 90%;
  height: 40px;
  background: #B11031;
  border: none;
  border-radius: 3px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-align:center;
  transition: 0.1s ease;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}

input[type="submit1"]:hover,
input[type="submit1"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit1"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

#state{
  background-color: black;
}

#userStory{
  font-size:20px;
}

#storyIcon{
  color:#133C7D;
  padding: 0px;
  margin: 0px;
}


h6 {
  color: black;
}
